<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL-Shortner</title>
    <style>
      body {
        background-color: rgb(155, 148, 148);
      }
      th,
      td {
        padding: 10px;
        text-align: left;
        border: 1px solid #ddd;
      }
      table {
        margin-top: 20px;
      }
    </style>
  </head>
  <body>
    <div style="text-align: center">
      <h1>URL-Shortner</h1>
    </div>
    <div style="display: flex; justify-content: center; font: 20px sans-serif">
      <form method="post" action="/Url">
        <label for="">Enter URL</label>
        <input
          type="text"
          name="Url"
          placeholder="https://www.example.com"
          style="font: 15px sans-serif; padding: 5px"
        />
        <button
          type="submit"
          style="
            background-color: cadetblue;
            color: white;
            padding: 8px;
            border-radius: 10px;
            border: none;
          "
        >
          Generate
        </button>
      </form>
    </div>
    <div style="display: flex; justify-content: center">
      <% if (locals.Url) { %>
      <table>
        <tr>
          <th>S.No.</th>
          <th>URL</th>
          <th>Short ID</th>
        </tr>
        <% locals.Url.forEach((element, index) => { %>
        <tr>
          <td><%=index +1 %></td>
          <td><%= element.redirectUrl %></td>
          <td><%= element.shortID %></td>
        </tr>
        <% }) %>
      </table>
      <% } %>
    </div>
  </body>
</html>
